body {
  background: #f9f0eb;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco',
    'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: #0070c9;
}
