@import './styles/base.scss';

.header {
  width: 1440px;
  height: 668px;
  background-color: #c4e6f0;
  background-image: url(../../assets/images/final_project_london/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header-text {
  //   font-family: Born;
  width: 100%;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.74px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 151px;
}

.header-slogan {
  width: 100%;
//   font-family: Hind;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.87px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 232px;
}