@mixin blueBtn {
  background-color: #2387f5;
  color: #ffffff;
  border: 1px solid #2387f5;
  &:hover {
    background-color: #0153aa;
    border: 1px solid #0153aa;
  }
}

@mixin relativeHorizontalCenter {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@mixin absoluteHorizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}