$font-size-base: 15px;

$font-family-base: -apple-system, BlinkMacSystemFont, 'San Francisco',
  'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Arial', sans-serif;

$link-color-base: #0070c9;
