@import './styles/base.scss';

.reboot-icon {
  height: 80px;
}
.content {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    // border: 1px solid red;
  }

  .header {
    font-family: $font-family-base;
    font-size: 2.1333rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    // border: 1px solid orange;
  }

  .note-text {
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: darkgray;
    // border: 1px solid blue;
  }

  .form-wrapper {
    margin-bottom: 30px;
  }

  .button {
    background-color: rgb(255, 59, 48);
    color: #ffffff;
    border: none;
    padding: 13px 35px;
    font-family: $font-family-base;
    font-size: 1.1333rem;
    // font-weight: 600;
    // letter-spacing: 0.05em;
    text-align: center;
    border-radius: 40px;
  }

  .button:hover {
    background-color: #bf221f;
  }