@import './styles/base.scss';
@import './styles/mixins.scss';

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 150px 20px;
}

.container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  height: 80px;
  margin-bottom: 20px;
}

.header {
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #333333;
  margin: 20px 0px;
}

.note-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
  color: darkgray;
  margin: 20px 0;
}

.reboot-button {
  background-color: rgb(255, 59, 48);
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 40px;
  margin: 20px 0 30px;
  padding: 13px 35px;
  font-size: 28px;
  letter-spacing: 0.025em;

  &:hover {
    background-color: #0070c9;
    transition: all 250ms;
  }
}

.link {
  color: $link-color-base;
  margin-top: 20px;
  text-align: center;
  &:after {
    content: '>';
    padding-left: 0.25em;
  }

  &:hover {
    text-decoration: underline;
  }
}

@include tablet {
  .content {
    padding: 100px 20px;
  }

  .header {
    font-size: 52px;
  }

  .reboot-button {
    font-size: 24px;
  }
}

@include mobile {
  .content {
    padding: 80px 20px;
  }

  .header-icon {
    height: 70px;
  }

  .header {
    font-size: 26px;
    line-height: 1.1;
  }

  .reboot-button {
    padding: 13px 35px;
    font-size: 17px;
    margin: 15px 0 30px;
  }
}
