@import './styles/base.scss';

.content {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid red;
  }

  .header {
    font-family: $font-family-base;
    font-size: 2.6666rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid orange;
  }

  .header-text {
    font-family: $font-family-base;
    font-size: 1.3333rem;
    font-weight: 300;
    text-align: center;
    color: darkgray;
    border: 1px solid blue;
  }

  .form-wrapper {
    margin-top: 50px;
  }

  .button {
    background-color: rgb(255, 59, 48);
    color: #ffffff;
    border: none;
    padding: 20px 50px;
    font-family: $font-family-base;
    font-size: 2rem;
    text-align: center;
    border-radius: 40px;
  }

  .button:hover {
    background-color: #0085f1;
  }