@import './styles/base.scss';
@import './fonts.css';

.header {
  height: 668px;
  background-color: #c4e6f0;
  background-image: url(../../assets/images/london/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.header__top-bar {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 33px;
  padding: 0px 150px;
}

.weather-widget {
  display: flex;
  top: 33px;
  left: 150px;
}

.weather-widget__icon {
  height: 37px;
  margin-top: 6px;
}

.weather-widget__details {
  margin-left: 12px;
  text-align: left;
}

.weather-widget__temperature {
  font-family: $font-family-base;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #ffffff;
  &::after {
    content: '\00B0';
  }
}

.weather-widget__wind {
  font-family: $font-family-base;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #ffffff;
  &::before {
    content: 'wind:';
    margin-right: 0.4em;
  }

  &::after {
    content: 'mph';
    margin-left: 0.3em;
  }
}

.weather-widget__humidity {
  font-family: $font-family-base;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.48px;
  color: #ffffff;
  &::before {
    content: 'humidity:';
    margin-right: 0.4em;
  }

  &::after {
    content: '%';
    margin-left: 0.3em;
  }
}

.menu-button {
  background-color: transparent;
  padding: 11.5px 4px;
  border: none;
  top: 25px;
  right: 150px;
}

.menu-button__bar {
  display: block;
  width: 38px;
  height: 3px;
  color: #ffffff;
  background-color: #ffffff;
  margin-top: 7px;
  border: none;
}

.menu-button__top-bar {
  margin-top: 0px;
}

.logo {
  height: 45px;
  width: 41px;
  margin-top: 106px;
}

.line {
  height: 1px;
  border: none;
}

.logo__line {
  width: 155px;
  color: #ffffff;
  background-color: #ffffff;
  position: relative;
  bottom: 2px;
}

.header__text {
  width: 100%;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.74px;
  color: #ffffff;
}

.header__slogan {
  width: 100%;
  font-family: Hind-Light;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1em;
  letter-spacing: -0.87px;
  color: #ffffff;
  margin-top: 0px;
}

.button {
  font-family: Arial-BoldMT, Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
  letter-spacing: 3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
}

.pill-button {
  border-radius: 100px;
  background-color: #2387f5;
  color: #ffffff;
  border: none;
  &:hover {
    background-color: #0153aa;
  }
}

.header__pill-button {
  padding: 17px 30px;
  margin-top: 48px;
}

.content {
  width: 100%;
  height: 3243px; //TODO: remove fixed height after all content will be added
  background-image: linear-gradient(to bottom, #ffffff, #c4e6f0);
  text-align: center;
}

.search-form {
  position: relative;
  margin: 0 auto;
  top: -25px;
  width: 43%;
  max-width: 1400px;
  min-width: 220px;
  height: 50px;
  border-radius: 34px;
  background-color: #ffffff;
  text-align: left;
  padding: 0px 19px 0;
  box-shadow: 0 5px 35.4px 10px rgba(74, 74, 74, 0.15);
  display: flex;
  align-items: center;
}

.search-form__input {
  width: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  color: #9b9b9b;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 12px;
}

.search-form__button {
  height: 24px;
  width: 24px;
}

.search-tip {
  width: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: center;
  color: #565656;
  margin-top: 18px;
}

.search-tip__keywords {
  color: #888888;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.tab {
  height: 267px;
  width: 201px;
  padding: 40px 18px 18px;
  text-align: center;
}

.tab__content-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tab__icon {
  height: 60px;
}

.tab__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  text-align: center;
  color: #000000;
  margin-top: 17px;
}

.tab__line {
  width: 63px;
  height: 2px;
  color: #000000;
  background-color: #000000;
  margin: 15px auto 0;
  visibility: hidden;
}

.tab__description {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: center;
  color: #565656;
  margin-top: 15px;
}

.tab__text {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: center;
  color: #888888;
}

.footer {
  width: 100%;
  height: 106px;
  background-color: #31363c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-family: $font-family-base;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.29px;
  color: #4d6a8d;
}
